body{
    margin: 0;
    background: url(https://images.unsplash.com/photo-1516493249877-44b50333c6c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    opacity: 0;
}

.fundo{
    margin-top: 60px;
}

.calculadora{
    display: grid;
    grid-template-columns: 1fr 265px 1fr;
    justify-items: center;
}

.botao{
    width: 61px;
    padding: 12px;
    font-size: 1.5rem;
    border: 1px solid lightgrey;
    background: #ffffff;
    border-radius: 83px;
}

.fundo-2{
    width: 267px;
    background: white;
    margin: 0px auto;
    border-radius: 10px;
}

tr{
    display: block;
    align-items: stretch;
    flex-direction: column;
    vertical-align: top;
    
}

table{
    grid-column-start: 2;
    
}

#resultado{
    grid-column-start: 2;
    font-size: 1.3rem;
    width: 265px;
    text-align: end;
    margin-right: 20px;
    height: 10px;
}


h2{
    grid-column-start: 2;
    font-size: 2.8rem;
    height: 40px;
    text-align: center;
    color: #c3c3c3;
    margin: 0px
}

button{
    cursor: pointer;
}

td{
    box-shadow: 2px -1px 6px 0px #f4e9e9;
    filter: drop-shadow(10px 10px 30px #f4e9e9);
    border-radius: 60px;
}
